.cart-container {
    margin: 2rem;
    justify-content: center;
}

.cart .card-like {
    color: var(--error-txt);
    font-weight: 600;
}

@media only screen and (max-width:550px) {
    .cart-container {
        flex-direction: column-reverse;
    }

    .cart-items {
        align-self: center;
    }
}